// sass-lint:disable no-color-keywords, hex-length
// Colors
// ==========================================================================

/// @name Color Options
/// @group groundwork-config
/// @access private
/// @type Map

$colors: (
  colors: (
    brand: (
      primary: #000,
      secondary: #000,
      support: #000,
      default: #000,
      success:  #000,
      warning: #000,
      info: #000,
      danger: #000
    ),
    cta: (
      cta-1: #000,
      cta-2: #00,
      cta-3: #000
    ),
    greyscale: (
      'white': #000,
      light-grey: #000,
      'grey': #000,
      dark-grey: #000,
      'black': #000
    ),
    link: (
      link: #000,
      link-secondary: #000,
    ),
    social: (
      facebook: #3b5998,
      twitter: #55acee,
      google: #dd4b39,
      youtube: #b00,
      pinterest: #cb2027,
      vimeo: #aad450,
      tumblr: #32506d,
      rss: #f60,
      instagram: #125688
    ),
  )
);
