// sass-lint:disable no-color-keywords, hex-length
// Colors
// ==========================================================================

/// @name Color Options
/// @group groundwork-config
/// @access private
/// @type Map

$colors: (
  colors: (
    brand: (
      primary: #f58220,
      secondary: #0085a9,
      extra: #22292c,
      support: #0275d8,
      default: #5bc0de,
      success: #2ecb5b,
      warning: #f5e820,
      info: #0085a9,
      danger: #f53920
    ),
    greyscale: (
      grey-0: darken(#727b80, 50%),
      grey-10: darken(#727b80, 40%), // brand-extra
      grey-20: darken(#727b80, 30%),
      grey-30: darken(#727b80, 20%), // dark-grey
      grey-40: darken(#727b80, 10%),
      grey-50: #727b80, // grey
      grey-60: lighten(#727b80, 10%),
      grey-70: lighten(#727b80, 20%),
      grey-80: lighten(#727b80, 30%),
      grey-90: lighten(#727b80, 40%), // light-grey
      grey-100: lighten(#727b80, 50%),
      'black': #22292c,
      dark-grey: darken(#727b80, 20%),
      'grey': #727b80,
      light-grey: lighten(#727b80, 40%),
      'white': #fff,
    ),
    link: (
      link: #0085a9,
      link-secondary: darken(#0085a9, 15%),
    ),
    extras: (
      blue-grey: #727b80,
      dark-blue-grey: #333d42,
      body-bg-color: lighten(#727b80, 45%),
    )
  ),
);
